@model List<INFT3050.ViewModel.ProductCategoryVM>


<head>
    <title>@ViewBag.Title</title>
</head>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxe Furniture</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIqG6kG6h60OzNS4zG6lkpP1EwL9nwsuKfF4rk5W1q4oVOsiwx" crossorigin="anonymous"></script>
</head>
<partial name="_Nav" />
<body>
    <main>
        <div class="page-header">
            <h1>@ViewBag.Title</h1>
            <img src="@ViewBag.ImageUrl" alt="Furniture" class="header-image">
        </div>

        <div class="filter-tab">
            <select id="sort-options" onchange="sortItems()">
                <option value="">Sort by</option>
                <option value="az">A to Z</option>
                <option value="price-high-to-low">High Price to Low Price</option>
                <option value="price-low-to-high">Low Price to High Price</option>
            </select>
        </div>

        <section class="product-list">
            @foreach (var item in Model)
            {
                <div class="product-item">
                    <a style="text-decoration: none; color: inherit;" href="@Url.Action("Product", "Furniture",  new { name = item.Product.Name })">
                        <img class="product-image" src="~/product/@item.Product.ImagePath" width="300" height="400" alt="@item.Product.Name">
                        <p>@item.Product.Name <p>
                        <p>From SGD $@item.Product.Price.ToString()</p>
                    </a>
                </div>
            }
        </section>
    </main>


    <partial name="_Footer" />

    <script src="scripts.js"></script>
    <script>
        function sortItems() {
            var sortOrder = document.getElementById("sort-options").value;
            var categoryId = '@ViewBag.CategoryId';
            window.location.href = `@Url.Action("DiningRoom", "Furniture")?categoryId=${categoryId}&sortOrder=${sortOrder}`;
        }
    </script>
</body>
</html>
